
<!DOCTYPE html>
<html ng-strict-di="true">
	<head>
		<meta charset="utf-8"/>
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<base href="/">
		<title> Projects - Cadastro de Áreas de Projeto </title>

		<!-- Bootstrap core CSS -->
	    <link href="./vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
		<link href="./assets/css/main.css" rel="stylesheet">
		<link href="./vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="./Front/css/mva-login.css" rel="stylesheet">

		<link href='./Front/css/familyOswald.css' rel='stylesheet' type="text/css">
		<link href='./Front/css/familyEBGaramond.css' rel='stylesheet' type="text/css">

		<!-- Angular -->
		<script src="./vendor/angular/angular.min.js"></script>
		<script src="./vendor/angular/ngStorage/ngStorage.min.js"></script>
		<script src="./Front/Controller/mva-login.js"> </script>
		<script src="./Front/Services/alert.js"></script>
		<script src="./Front/Directive/ngEnter.js"></script>
	</head>
	
	<body ng-app="CrudApp">
		<div class="container container-center" ng-controller="LoginController">
			<div class="container">				
				<form class="form-horizontal" name="userForm">
					<h1>Login</h1>
					<div class="form-group">
						<div class="">
							<label class="control-label col-sm-6">Usuario: </label>
						</div>
						<div class="col-sm-6"> 
							<input type="text" class="form-control" ng-model="usuario.user" placeholder="Insira um usuario"/>
						</div>
					</div>					
					<div class="form-group">
						<label class="control-label col-sm-6"> Senha: </label>
						<div class="col-sm-6"> 
							<input type="password" class="form-control" id="password" ng-model="usuario.senha" placeholder="Insira uma senha" ng-enter="entrar()"/>
						</div>
					</div>								
					<div class="form-group">
						<div class="col-sm-6"> 
							<button type="button" class="btn btn-success btn-entrar" ng-click="entrar()" ng->Entrar</button>
							<a href="/cadastro-empresa" id="link-cadastrar">Não tenho uma conta</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	    <!-- JavaScript -->
	    <script src="./vendor/jquery/jquery.min.js"></script>
		<script src="./vendor/modernizr/modernizr.custom.js"></script>
	    <script src="./vendor/popper/popper.min.js"></script>
		<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- Alert -->
	    <script src="./vendor/jquery/jquery.bootstrap-growl.min.js"></script>
	</body>
</html>