<!-- Breadcrumbs-->
<h3>Funcionários</h3> 
<hr/>

<form name="cadForm" ng-init="init()" ng-keydown="notSubmit($event);">
  <div class="row">
    <div class="form-group col-md-6">
      <label for="nome">Nome
        <span class="color-red">*</span>:
      </label>
      <input type="text" class="form-control" name="nome" placeholder="Insira o nome" ng-model="funcionario.nome_func" maxlength="200" required>
    </div>

    <div class="form-group col-md-3">
      <label for="area">Cargo:</label>
      <select class="form-control" ng-model="funcionario.id_cargo" ng-value="parseInt(funcionario.id_cargo)" required>
        <option ng-repeat="cargo in listCargos" value="{{cargo.id_cargo}}"> {{cargo.nome_cargo}} </option>
      </select> 
    </div>

    <div class="form-group col-md-3">
      <label for="salario">Salario:</label>
      <input type="number" class="form-control" name="salario" min="1" ng-model="funcionario.salario"  required>
    </div>
  </div>
  <div class="row row-buttons">
    <div class="form-group-md col-md-12">
        <button class="btn btn-primary" ng-click="novo()"  title="Limpa os campos acima para cadastrar um novo usuario.">
          <i class="fa fa-fw fa-plus"></i>Novo
        </button>
        <button class="btn btn-warning-white" ng-click="limpar()" title="Limpa os campos acima, porém mantém o funcionario em edição.">
          <i class="fa fa-fw fa-eraser"></i>Limpar
        </button>
        <button class="btn btn-dark" ng-click="getFunc()" title="Consulta usando os campos acima como filtro.">
          <i class="fa fa-fw fa-search"></i>Consultar
        </button>
        <button class="btn btn-success" ng-click="save()" ng-disabled="cadForm.$invalid"
              ng-attr-title="{{funcionario.id_func == 0 ? 'Cadastrar o funcionario.' : 'Salvar a edição do funcionario.'}}">
          <i class="fa fa-fw fa-save"></i>{{funcionario.id_func == 0 ? 'Cadastrar' : 'Editar'}}
        </button>
      </div>
  </div>
</form>
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Funcionarios
    <a class="fa fa-refresh float-right" ng-click="getAllFuncionarios()" href="" title="Pesquisa todos Funcionarios"></a>
  </div>
  <div class="card-body">
    <div class="form-group col-md-2 col-sm-12">
      <input type="text" class="form-control form-control-sm" placeholder="Filtrar tabela" ng-model="filtro">
    </div>
    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
          <tr class="align-center">
            <th style="min-width: 150px"> Nome 
              <button class="fa fa-fw fa-arrows-v float-right btn-no-border-transparente" ng-click="OrderByMe('nome_func')"/>
            </th>
            <th style="min-width: 130px"> Cargo 
              <button class="fa fa-fw fa-arrows-v float-right btn-no-border-transparente" ng-click="OrderByMe('nome_cargo')"/>
            </th>
            <th style="min-width: 115px"> Salario 
              <button class="fa fa-fw fa-arrows-v float-right btn-no-border-transparente"  ng-click="OrderByMe('salario')"/>
            </th>
            <th style="width: 20px"> Detalhes </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="funcionarios.length <= 0">
            <td colspan="6" class="align-center">Nenhum dado encontrado</td>
          </tr>
          <tr ng-repeat="func in funcionarios = (listFunc | orderBy: ordem | tableSearch:filtro:['nome_func', 'nome_cargo', 'salario'])">
            <td>{{func.nome_func}}</td>
            <td>{{func.nome_cargo}}</td>
            <td>{{func.salario.toFixed(2)}}</td>
            <td class="align-center">
              <span ng-click="edit($index)" class="fa fa-fw fa-edit" title="Colocar em edição este funcionario"></span>
              <span ng-click="delete(func.id_func)" class="fa fa-fw fa-trash" title="Excluir este funcionario"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <div class="form-inline">
        <div class="col-md-12">
          <div class="col-md-4">
            Total: {{funcionarios.length}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">Atualizado hoje às {{time}}</div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Excluir funcionario?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Selecione "Sim" se você deseja excluir o funcionario: {{}}.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" ng-click="logout()">Sim</a>
        </div>
      </div>
    </div>
  </div>